**.terraform*
**.tfstate**
**terraform.tfstate
**terraform.tfstate.backup
**.log
proxmox
**test
**.tfplan
**.git
**.github
**.dockerignore
.devcontainer/devcontainer.json
**/Dockerfile*
.vscode
**.gitignore
docker
**/.github
**/.vscode